@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  background-color: #f5f9fa;
}

.App-parent {
  color: #282c34;
  padding: 3rem;
  font-family: "Lato", sans-serif;
  position: relative;
}

/* Title */
.App-parent--header {
  font-size: calc(2px + 2vmin);
  font-weight: 400;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
}

.App-parent--header p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.App-parent--header h1 {
  margin-top: 0.5rem;
}

/* Card Left */
.App-content--card {
  background-color: #3e449a;
  color: #ffffff;
  padding: 4rem;
  border-radius: 15px;
}

.App-content--card h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: calc(12px + 4vmin);
}

.App-content--input h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: calc(12px + 4vmin);
}

/* Card Right */
.App-content--input {
  font-weight: 400;
  padding: 4rem;
  background-color: #ffffff;
  border-radius: 15px;
}

/* Card Right - Input paragraph */
.App-content--input p {
  color: #868d96;
  font-weight: 700;
  padding-top: 1rem;
}

/* Card Right - Input Box */
.App-content--input input {
  background-color: #f2f6f7;
  border-radius: 5px;
  border: none;
  padding: 15px 15px;
}

.App-content--input form {
  margin: 1rem 0;
  position: relative;
}

input[type="number" i] {
  font-weight: 700;
  font-size: calc(8px + 1vmin);
}

/* Card Left - Label */
.App-content--result {
  font-size: calc(8px + 1vmin);
  font-weight: 400;
}

/* Card Left - Result */
.App-content--result span {
  display: block;
  margin: 1rem 0;
  font-size: calc(15px + 2vmin);
  font-weight: 700;
}

.App-content--result p {
  font-weight: 700;
  padding-top: 1rem;
}

.App-content--parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.App-link {
  color: #61dafb;
}

.App-content--result div {
  margin: 1rem 0;
}

.App-parent--help {
  width: 6rem;
  height: 3rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #3e449a;
  margin: 0 auto;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

.App-parent--header--right {
  margin-left: auto;
}

.App-parent--header--help {
  animation: anim--1 0.5s;
  z-index: 1000;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 100px;
  align-items: center;
  justify-items: center;
  margin: 1rem 2rem;
  padding: 2rem 4rem;
  border-radius: 15px;
  row-gap: 1rem;

  position: absolute;
  right: 0;
  width: 40vh;

  box-shadow: 10px 10px 60px -30px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 60px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px -30px rgba(0, 0, 0, 0.75);
}

.dark {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 999;
}

.App-parent--header--help h1 {
  margin-bottom: 2rem;
  font-weight: 700;
}

.App-parent--header--help h3 {
  margin-top: 2rem;
}

.App-parent--header--help a {
  display: block;
}

.App-footer {
  margin: 2rem 0;
  text-align: center;
  color: #282c34;
}

@media only screen and (max-width: 425px), only screen and (max-width: 768px) {
  .App-content--parent {
    grid-template-columns: 1fr;
  }
  .App-parent--header {
    grid-template-columns: 1fr 1fr;
  }

  .App-parent--header--help {
    width: auto;
  }
  .App-parent--help {
    margin: 1rem;
  }
}

@keyframes anim--1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
